

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/favicon.ico">


    <title>Love Match</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="container-fluid">

      <!-- Static navbar -->
      
      <div>

      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="bg"></div>
<div class="jumbotron j1">
  <h1 class="jumboh1">Love Match</h1>
  <p class="lead">Love may just be right around the corner (:</p>
  <div class="container">

      <form class="form-signin">
        <label for="inputEmail" class="sr-only">邮件</label>
        <input id="login-user"  type="email" id="inputEmail" class="form-control" placeholder="手机号码" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input id="login-pass" type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button id="login-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button id="reg-btn" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->
</div>

<div class="container">
  <div class="jumbotron">
  <h1>那天小白找后台程序猿推荐对象，程序猿给推荐了love match系统。</h1>
    <h2>小白：你们是谁？</h2>
    <p>程序猿：我们是校园的红人，我们可以让你认识到与你兴趣爱好相投的男神女神。也许你的灵魂伴侣就在与你同一所学校里面，只是你还没有偶遇到他/她。</p>
    <h2>小白：那你们怎么给我找对象呢？</h2>
    <p>程序猿：我们通过只能算法告诉你与你比较匹配的对象是谁。如果你知道你喜欢什么样的人，你也可以定制你的搜索条件，我们也是给你找到属于你的男神女神。</p>
    <h2>小白继续：不知道耶，我的信息安全吗？</h2>
    <p>程序猿：不用担心，你的信息我们全力保管，除非征得你的同意，我们绝对绝对不泄露给任何人。</p>

    
  </div>
  <hr>
  <div class="jumbotron">
  <h2>我们的宗旨是让你找到合适的人</h2>


    
  </div>
  <hr>
  

</div>



<hr>

<div class="container" id="sec">
  <div class="row">
      <div class="col-md-12 text-center"><p></p></div>
    </div>
</div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/config.js"></script>
	<script src="js/config.js"></script>
    <script src="js/login.js"></script>

    <script src="js/jump.js"></script>
  </body>
</html>